    <table class="pretty-table" summary="items listing">
      <tr><td>Your IP address is <%= @client_ip %>   </td></tr>
       city: <%=@city%> <br />
       region: <%=@region%> <br />
       country: <%=@country%> <br />
      </table>
    
